.event-registration-cart {
  display: flex;
  flex-direction: row;
}

.event-container {
  background-color: #64748b;
  padding: 30px;
  width: 60%;
}

.event-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
}

.event-item-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.active-event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 40%;
}
